$def with(theaters)
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./static/images/icon.png">

    <title>Movie information system</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
    <link href="./static/css/cover.css" rel="stylesheet">
    <link href="./static/images/icon.png" rel="stylesheet">


  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hello, $context.user</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link disabled" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
    <div>
    <br><br><br>
      <table>
        <tr>
          <td>Theaters</td>

          <td>
            <a role="button"  class="btn btn-outline-danger">ALL</a>
          </td>
          $for theater in theaters:
            <td>
              <a role="button" href="/management$theater.name"  class="btn btn-outline-secondary">$theater.name</a>
            </td>
        </tr>
      </table>
    </div> 
      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
  </main>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./static/assets/js/vendor/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./static/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
