<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./static/images/icon.png">

    <title>Movie information system</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="./static/images/icon.png" rel="stylesheet">
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Hello, $context.user</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movies">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/onshow">Onshow</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trans">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main role="main">
      <br><br><br>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="./static/images/rec1.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Secret</h2>
            $ name = "Venom"
            <p>Ye Xianglun (Zhou Jielun) is a transfer student at Tamkang Art High School. His father (Huang Qiusheng) is a teacher at the school. On this day, my classmate Qing Yi (Zeng Yi ornaments) took him to the school. Then he went to the old piano room of the school alone. He played a good song and he was attracted by a piano piece from somewhere. He came to one of the old piano rooms and met Lu Xiaoyu...</p>
            <p><a class="btn btn-secondary" href="/moviedetail$name" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="./static/images/rec3.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Farewell My Concubine</h2>
            $ name = "Venom"
            <p>Duan Xiaolou (Zhang Fengyi) and Cheng Dieyi (Zhang Guorong) are brothers and sisters who grew up together. They are two performers, one is decorated, and the other is always seamless, especially the "Farewell My Concubine". Honored by the capital, for this reason, the two agreed to perform a lifetime of "Farewell My Concubine." However, the two people have different understandings of...</p>
            <p><a class="btn btn-secondary" href="/moviedetail$name" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="./static/images/rec2.jpg" alt="Generic placeholder image" width="140" height="140">
             <h2>Spirited Away </h2>
             $ name = "Venom"
            <p>Chihiro and his mom and dad drove to the new home and accidentally entered the mysterious tunnel on the small road in the suburbs - they went to another strange world - a medieval town. The smell of food floated in the distance, my father and mother ate a lot, and turned into a pig after the expectation! At this time, there were many strange and translucent people in the town...</p>
            <p><a class="btn btn-secondary" href="/moviedetail$name" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Fantastic Beasts:  <span class="text-muted">The Crimes Of Grindelwald</span></h2>
            <p class="lead">Warner Bros. Pictures FANTASTIC BEASTS: THE CRIMES OF GRINDELWALD is the second of five all new adventures in J.K. Rowling's Wizarding World. At the end of the first film, the powerful Dark wizard Gellert Grindelwald (Johnny Depp) was captured by MACUSA (Magical Congress of the United States of America), with the help of Newt Scamander (Eddie Redmayne). But, making good on his threat, Grindelwald escaped custody and has set about gathering followers, most unsuspecting of his true agenda: to raise pure-blood wizards up to rule over all non-magical beings.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="./static/images/h1.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Bohemian Rhapsody:<span class="text-muted">Fearless lives forever</span></h2>
            <p class="lead">DBOHEMIAN RHAPSODY is a foot-stomping celebration of Queen, their music and their extraordinary lead singer Freddie Mercury. Freddie defied stereotypes and shattered convention to become one of the most beloved entertainers on the planet. The film traces the meteoric rise of the band through their iconic songs and revolutionary sound. They reach unparalleled success, but in an unexpected turn Freddie, surrounded by darker influences, shuns Queen in pursuit of his solo career. Having suffered greatly without the collaboration of Queen, Freddie manages to reunite with his bandmates just in time for Live Aid. Facing a life-threatening illness, Freddie leads the band in one of the greatest performances in the history of rock music. Queen cements a legacy that continues to inspire outsiders, dreamers and music lovers to this day.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="./static/images/h2.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Venom: <span class="text-muted">Embrace your inner anti-hero</span></h2>
            <p class="lead">One of Marvel’s most enigmatic, complex and badass characters comes to the big screen, starring Academy Award® nominated actor Tom Hardy as the lethal protector Venom.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="./static/images/h3.jpg">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->
      <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
      </footer>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="./static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="./static/assets/js/vendor/popper.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="./static/assets/js/vendor/holder.min.js"></script>
  </body>
</html>
